*,
*::before,
*::after{
  box-sizing: border-box;
}

@font-face{
  font-family: "balqis";
  src: url("../fonts/balqis.woff2"),
      url("../fonts/balqis.woff");
  font-weight: 300px;
  font-style: normal;
  font-display: swap;
}
@font-face{
  font-family: "RobotoCondensed-Light";
  src: url("../fonts/RobotoCondensed-Light.woff2") ,
      url("../fonts/RobotoCondensed-Light.woff") ;
  font-weight: 300px;
  font-style: normal;
  font-display: swap;
}
@font-face{
  font-family: "RobotoCondensed-LightItalic";
  src: url("../fonts/RobotoCondensed-LightItalic.woff2"),
      url("../fonts/RobotoCondensed-LightItalic.woff");
  font-weight: 300px;
  font-style: italic;
  font-display: swap;
}
@font-face{
  font-family: "RobotoCondensed-Regular";
  src: url("../fonts/RobotoCondensed-Regular.woff2"),
      url("../fonts/RobotoCondensed-Regular.woff");
  font-weight: 400px;
  font-style: italic;
  font-display: swap;
}
body{
  color: #333;
  font-family: "RobotoCondensed-Light", "Arial", sans-serif;
}
a{
  color: inherit;
  text-decoration: none;
}
ul{
  list-style: none;
}
p,ul,li,h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
}
img{
  // display: block;
  // margin: 0;
  // padding: 0;
  width: 100%;
  height: auto;
}

.section{
  max-width: 1920px;
  margin: 200px auto;
  @media(max-width: 960px){
    margin: 50px auto;
  }
}
.section__title{
  font-family: "balqis", "Arial", sans-serif;
  font-weight: 300;
  font-size: 96px;
line-height: 128px;
color: #E2AB3F;
margin-bottom: 100px;
@media(max-width: 960px){
margin-bottom: 50px;
}
@media(max-width: 640px){
  font-size: 60px;
line-height: 100px;
  margin-bottom: 50px;
}
@media(max-width: 420px){
  font-size: 50px;
line-height: 85px;
}
}
.section__title span{
  font-family: "RobotoCondensed-LightItalic", "Arial", sans-serif;
  font-style: italic;
font-size: 24px;
line-height: 28px;
color: #000000;
display: block;
margin-top: -30px;
@media(max-width: 640px){
  font-size: 20px;
line-height: 24px;
}
@media(max-width: 420px){
    font-size: 16px;
}
}
.container{
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.header{
  background-image: url("../images/header.png");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;

}
.header__top{
  margin-bottom: 152px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-top: 72px;
  font-family: "RobotoCondensed-Regular", "Arial", sans-serif;
  font-size: 24px;
line-height: 28px;
@media(max-width: 1240px){
  margin-bottom: 100px;
}
@media(max-width: 840px){
  font-size: 22px;
line-height: 26px;
}
@media(max-width: 640px){
  font-size: 20px;
line-height: 24px;
  flex-direction: column;
align-items: center;
padding-top: 50px;
}
@media(max-width: 420px){
  font-size: 18px;
line-height: 20px;
}
}
.menu{
  @media(max-width: 640px){
    margin-bottom: 20px;
  }
}
.menu__item{
  display: inline-block;
  margin-right: 52px;
  &:last-child{
    margin-right: 0;
  }
  @media(max-width: 420px){
    margin-right: 20px;
  }
}
.menu__link{
  &:hover{
    text-decoration: underline;
  }
}
.header__phone{
  padding-left:40px;
  position: relative;
  &::before{
    content: "";
    position: absolute;
    background-image: url("../images/svg/phone_header.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 30px;
    left: 0;
    background-size: cover;
    @media(max-width: 840px){
      width: 25px;
      height: 25px;
    }
    @media(max-width: 420px){
      width: 20px;
      height: 20px;
    }
  }
}
.header__title{
  text-align: center;
  font-family:"balqis", "Arial",sans-serif;
  font-size: 250px;
line-height: 334px;
font-weight: 300;
@media(max-width: 1240px){
  font-size: 150px;
line-height: 260px;
}
@media(max-width: 840px){
  font-size: 130px;
line-height: 220px;
}
@media(max-width: 640px){
  font-size: 95px;
line-height: 195px;
}
@media(max-width: 420px){
  font-size: 60px;
line-height: 150px;
}
}
.header__title span{
  display: block;
  margin-top: -80px;
  margin-right: 85px;
  text-align: right;
  font-family: "RobotoCondensed-LightItalic", "Arial", sans-serif;
font-style: italic;
font-weight: 300;
font-size: 56px;
line-height: 66px;
@media(max-width: 1240px){
  font-size: 40px;
  margin-right: 240px;
}
@media(max-width: 840px){
font-size: 35px;
margin-right: 90px;
}
@media(max-width: 640px){
  font-size: 24px;
line-height: 80px;
}
@media(max-width: 420px){
  font-size: 20px;
line-height: 70px;
margin-right: 10px;
}
}
.slider-item{
  display: none;
}
.slide-show{
  display: block;
}
.slider__wrapper{
  position: relative;
  width: 50%;
  @media(max-width: 960px){
    width: 100%;
    margin-bottom: 10px;
  }
}
.slider__btn{
  position: absolute;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
    transform: translateY(-50%);
    &:hover{
      opacity: 0.5;

    }
    @media(max-width: 420px){
      display: none;
    }
}
.slider__btn--prev{
  background-image: url("../images/svg/slider__btn--prev.svg");
  background-position:center;
  background-repeat: no-repeat;
  width: 37px;
  height: 70px;
  top:50%;
  left: 2%;
  z-index: 5;
}
.slider__btn--next{
  background-image: url("../images/svg/slider__btn--next.svg");
  background-position:center;
  background-repeat: no-repeat;
  width: 37px;
  height: 70px;
  top:50%;
  right: 2%;
  z-index: 5;
}
.fairy-tail__item img{
  @media(max-width: 960px){
    height: 50vh;
  width: 100%;
  object-fit: cover;
  }
  }

.fairy-tail__container{
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
  position: absolute;
  top:0; //растягиваем относительно контейнера со слайдером
  bottom: 0;
  left: 0;
  right: 0;
  @media(max-width: 960px){
    position: static;
  }
}
.fairy-tail__inner{
position: relative;
}
.fairy-tail__content-wrapper {
    width: 50%;
    height: 100%;
    margin-left: auto;
    padding-left: 55px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    @media(max-width: 1100px){
      font-size: 15px;
        padding-left: 15px;
    }
    @media(max-width: 960px){
      width: 100%;
      margin: 0;
      padding: 0;
    }
}
.fairy-tail_text{
  margin-bottom: 15px;
}
.fairy-tail__title-list{
  font-weight: bold;
    margin-bottom: 15px;
}
.fairy-tail__title span{
  margin-left: 180px;
  @media(max-width: 640px){
    margin-left: 110px;
  }
  @media(max-width: 420px){
    margin-left: 90px;
  }
}

.our-trip__slider{
  margin-left: auto;
}
.our-trip__slider-item img {
  @media(max-width: 960px){
  height: 50vh;
  width: 100%;
  object-fit: cover;
  }
}
.our-trip__inner{
  position: relative;

}

.our-trip__container{
  max-width: 1230px;
  margin: 0 auto;
  position: absolute;
  top:0;
  bottom: 0;
  right: 0;
  left: 0;
  @media(max-width: 960px){
    position: static;
  }
}
.our-trip__title{
  @media(max-width: 1400px){
    width: 100%;
    margin-bottom: 50px;
  }
}
.our-trip__title span{
margin-left: 240px;
@media(max-width: 420px){
  margin-left: 126px;
}
}
.our-trip__wrapper{
height: 100%;
width: 50%;
padding-right: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  @media(max-width: 1400px){
  flex-direction: row;
  }
  @media(max-width: 960px){
    width: 100%;
    padding-right: 0px;
  }
}
.our-trip__list{
  width: 50%;
}
.our-trip__list{
  margin: 5px 0;
  font-size: 18px;
line-height: 20px;
@media(max-width: 420px){
  font-size: 16px;
line-height: 20px;
}
}
.our-trip__item-title{
  margin-bottom: 20px;
  font-family: "RobotoCondensed-Regular";
  width: 400;
}
.our-trip__btn{
  font-size: 24px;
line-height: 28px;
border: 1px solid #E2AB3F;
padding: 11px 53px;
display: block;
align-items: flex-start;
&:hover{
  border: 1px solid #000;
}
@media(max-width: 1400px){
  margin: 0 auto;
  margin-top: 20px;
}
@media(max-width: 640px){
  font-size: 18px;
  padding: 8px 40px;
}
}

.hotel__title span{
margin-left: 130px;
@media(max-width: 420px){
  margin-left: 75px;
}
}
.hotel__inner{
  display: flex;
}
.hotel__img-wrap{
  width: 500px;

}
.hotel__img{
  margin-right: 100px;
  flex-shrink: 0;
  width: 500px;

  @media(max-width: 1240px){
    display: none;
  }

}
.hotel__text{
  margin-bottom: 20px;
  font-size: 18px;
line-height: 21px;

@media(max-width: 420px){
  font-size: 16px;
line-height: 20px;
}
}

.hotel__gallery{
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @media(max-width: 1240px){
      justify-content: space-around;
  }
}
.hotel__gallery-link{
  margin-top: 50px;
  @media(max-width: 640px){
    margin-top: 15px;
  }
}
.price{
  background-image: url("../images/price_balloon.png");
  background-repeat: no-repeat;
  background-position: center right 10%;
  @media(max-width: 1100px){
    background-image: none;
  }
}
.price__title span{
  margin-left: 120px;
  @media(max-width: 420px){
    margin-left: 75px;
  }
}
.price__inner{
  display: flex;
  flex-wrap: wrap;
}
.price__on{
  max-width: 530px;
  margin-right: 70px;
}
.price__on-title,
.price__off-title{
    font-family: "RobotoCondensed-Regular";
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 50px;
  display: block;
  @media(max-width: 640px){
    margin-bottom: 20px;
  }
  @media(max-width: 420px){
    font-size: 20px;
    line-height: 24px;
  }
}
.price__item{
  margin-bottom: 20px;
  @media(max-width: 420px){
    font-size: 16px;
    line-height: 20px;
  }
}
.request__inner{
  display: flex;
  justify-content: space-between;
    @media(max-width: 1100px){
        justify-content: space-around;
    }
}
.request__img img{
  @media(max-width: 1100px){
    height: 50vh;
    width: 100%;
    object-fit: cover;
    @media(max-width: 840px){
      display: none;
    }
  }
}
.request__content{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  @media(max-width: 1100px){
    text-align: left;
  }
  @media(max-width: 840px){
    margin: 0 auto;
  }
}
.request__data,
.request__price{
  font-family: "balqis", "Arial";
  color: #E2AB3F;
  font-size: 96px;
  line-height: 100px;
  @media(max-width: 1100px){
    font-size: 80px;
    line-height: 90px;
  }
}
.request__info{
  @media(max-width: 1100px){
    display: flex;
    margin-bottom: 20px;
  }
  @media(max-width: 840px){
    flex-direction: column;
    align-items: center;
  }
}
.request__data{
  margin-bottom: 20px;
  @media(max-width: 1100px){
    margin-bottom: 0px;
    margin-right: 35px;
  }
}
.request__price{
  margin-left: 120px;
  @media(max-width: 1100px){
      margin-left: 0px;
      margin-right: 35px;
  }
}
.request__data span,
.request__price span{
  display: block;
    font-family: "RobotoCondensed-LightItalic";
  font-size: 24px;
line-height: 28px;
color: #000000;
margin-top: -5px;
@media(max-width: 1100px){
  font-size: 18px;
  line-height: 24px;
}
}
.request__data span{
  margin-left:220px;
  @media(max-width: 1100px){
      margin-left:65px;
  }
}
.request__price span{
  margin-left: 200px;
  @media(max-width: 1100px){
      margin-left:60px;
  }
.price{
  background-image: url("../images/price_balloon.png");
  background-repeat: no-repeat;
  background-position: center right 10%;
}
.price__title span{
  margin-left: 120px;
}
.price__inner{
  display: flex;
  flex-wrap: wrap;
}
.price__on{
  max-width: 530px;
  margin-right: 70px;
}
.price__on-title,
.price__off-title{
    font-family: "RobotoCondensed-Regular";
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 50px;
  display: block;
}
.price__item{
  margin-bottom: 20px;
}
.request__inner{
  display: flex;
  justify-content: space-between;
}
.request__content{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}
.request__data,
.request__price{
  font-family: "balqis", "Arial";
  color: #E2AB3F;
  font-size: 96px;
  line-height: 100px;
}
.request__data{
  margin-bottom: 20px;
}
.request__price{
  margin-left: 120px;
}
.request__data span,
.request__price span{
  display: block;
    font-family: "RobotoCondensed-LightItalic";
  font-size: 24px;
line-height: 28px;
color: #000000;
margin-top: -5px;
}
.request__data span{
  margin-left:220px;
}
.request__price span{
  margin-left: 200px;

}
.request__form{
  max-width: 383px;
  margin: 0 auto;
}
.request__form-title{
  margin-bottom: 50px;
    font-family: "RobotoCondensed-Regular";
  font-size: 24px;
line-height: 28px;

@media(max-width: 840px){
  margin-bottom: 35px;
  font-size: 20px;
line-height: 22px;
}
}
.request__form-input{
  display: block;
  border: 1px solid #E2AB3F;
  margin-bottom: 20px;
  height: 50px;
  width: 100%;
  padding:0 31px;
    font-family: "RobotoCondensed-Light";
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  @media(max-width: 840px){
    height: 40px;
    font-size: 16px;
    line-height: 29px;
  }

  &:hover{
    border-color: #000;
  }
  &::placeholder{
    color: #000;
  }
  &::-moz-placeholder {
    opacity: 1;
}
}
.request__btn{
    font-family: "RobotoCondensed-Light";
  font-weight: 300;
  font-size: 18px;
line-height: 21px;
text-transform: uppercase;
border: 1px solid #E2AB3F;
// width: 280px;
height: 50px;
padding: 11px 45px;
background-color: transparent;
cursor: pointer;
@media(max-width: 840px){
  height: 40px;
  font-size: 14px;
line-height: 18px;
margin: 0 auto;
display: block;
}
&:hover{
  border-color: #000;
}
}


.footer{
  background-image: url("../images/footer_bg.png");
  height: 100vh;
  background-position: center bottom;
  background-repeat: no-repeat;
  padding-top: 96px;
}
.footer__inner{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.footer__text{
    font-family: "balqis", "Arial";
  font-size: 86px;
line-height: 115px;
color: #000000;
@media(max-width: 1100px){
  display: none;
}
}
.footer__contacts{
  width: 356px;
  height: 527px;

  background-image: url("../images/footer_contacts_bg.png");
  text-align: center;
  background-size: cover;
  @media(max-width: 420px){
    width: 300px;
    height: 400px;
  }
}
.footer__title{
  padding-top: 60px;
  font-family: "balqis", "Arial";
  font-size: 86px;
  line-height: 115px;
  color: #E2AB3F;
  margin-bottom: 30px;
  vertical-align: bottom;
  @media(max-width: 420px){
    padding-top: 40px;
    font-size: 55px;
    line-height: 70px;
  }
}
.footer__link{
  font-size: 18px;
line-height: 21px;
  display: inline-block;
  padding-left: 40px;
  position: relative;
  @media(max-width: 420px){
    font-size: 16px;
  line-height: 18px;
  }
  &::before{
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    left: 0;
    top:-5px;
      @media(max-width: 420px){
        width: 30px;
        height: 30px;
      }
}
}
.footer__link--tel{
   margin-bottom: 20px;
}
.footer__link--tel::before{
  background-image: url("../images/svg/footer_phone_icon.svg");
  }

.footer__link--mail{
  margin-bottom: 30px;
}
.footer__link--mail::before{
  background-image: url("../images/svg/footer_mail_icon.svg");
  }
.footer__social-list{
    display: flex;
    justify-content: center;
  }
.footer__social-item{
    margin-right: 15px;
    &:last-child{
      margin-right: 0;
    }
  }
.footer__social-link svg:hover{
    fill:#555;
  }
}
